.swiper-pagination-bullet {
  height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    background: #c2e2ff;
    opacity: 1;
    border: 2px solid transparent;
    margin: 0 6px !important;
    transition: border 0.2s, background 0.2s;
}

.swiper-pagination-bullet-active {
    outline: 1px solid #2aa7ff;
    outline-offset: 4px;
    background: #2aa7ff;
  
}