.swiperslide{
    width: calc(110%/3 - 20px) !important;
    overflow: hidden;
    
}

.swiperStyles{
    width: 100%;
    padding: 0 50px;
    
}
@media(max-width: 900px) {
    .swiperStyles{
        padding: 0 ;
    }
    .swiperslide{
        width: auto !important;
    }
}